<a href="https://colab.research.google.com/github/shaya-686/AI/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпорт модуля pandas

In [1]:
import pandas as pd

Дані про пасажирів корабля:
* pclass -- клас білета(перший, другий або третій)
* sex -- стать
* age -- вік
* sibsp -- кількість братів\сестер та чоловіків\дружин на борту
* parch -- кількість дітей та батьків на борту
* fare -- вартість поїздки
* embarked -- Порт посадки (C = Шербур, Q = Квінстаун, S = Саутгемптон)

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/ship_passengers.csv",
                 index_col="Unnamed: 0")

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    891 non-null    int64
 1   sex       891 non-null    object
 2   age       714 non-null    float64
 3   sibsp     891 non-null    int64
 4   parch     891 non-null    int64
 5   fare      891 non-null    float64
 6   embarked  889 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB

# Завдання 2
Скільки пасажирів сіло у Квінстауні?

In [15]:
result = df[df['embarked'] == "Q"].loc[:, ['sibsp', 'parch']].sum().sum()
print("Number of passangers: ", result)

Number of passangers:  46

# Завдання 3
Виведіть стать, вік та вартість поїздки для пасажирів з білетом першого класу

In [18]:
df[df['pclass'] == 1].loc[:, ['sex', 'age', 'fare']]

        sex   age     fare
1    female  38.0  71.2833
3    female  35.0  53.1000
6      male  54.0  51.8625
11   female  58.0  26.5500
23     male  28.0  35.5000
..      ...   ...      ...
871  female  47.0  52.5542
872    male  33.0   5.0000
879  female  56.0  83.1583
887  female  19.0  30.0000
889    male  26.0  30.0000

[216 rows x 3 columns]

# Завдання 4
Ввиведіть дані про неповнолітніх чоловіків з Шербура

In [19]:
df[(df['sex'] == 'male')&(df['age']>18)]

     pclass   sex   age  sibsp  parch     fare embarked
0         3  male  22.0      1      0   7.2500        S
4         3  male  35.0      0      0   8.0500        S
6         1  male  54.0      0      0  51.8625        S
12        3  male  20.0      0      0   8.0500        S
13        3  male  39.0      1      5  31.2750        S
..      ...   ...   ...    ...    ...      ...      ...
883       2  male  28.0      0      0  10.5000        S
884       3  male  25.0      0      0   7.0500        S
886       2  male  27.0      0      0  13.0000        S
889       1  male  26.0      0      0  30.0000        C
890       3  male  32.0      0      0   7.7500        Q

[382 rows x 7 columns]

# Завдання 5
Створіть новий стовпчик relatives -- загальна кількість родичів на борту для кожного пасажира

In [20]:
df['relatives'] = df['sibsp'] + df['parch']
df

     pclass     sex   age  sibsp  parch     fare embarked  relatives
0         3    male  22.0      1      0   7.2500        S          1
1         1  female  38.0      1      0  71.2833        C          1
2         3  female  26.0      0      0   7.9250        S          0
3         1  female  35.0      1      0  53.1000        S          1
4         3    male  35.0      0      0   8.0500        S          0
..      ...     ...   ...    ...    ...      ...      ...        ...
886       2    male  27.0      0      0  13.0000        S          0
887       1  female  19.0      0      0  30.0000        S          0
888       3  female   NaN      1      2  23.4500        S          3
889       1    male  26.0      0      0  30.0000        C          0
890       3    male  32.0      0      0   7.7500        Q          0

[891 rows x 8 columns]

# Завдання 6
Видаліть стовпчик, в якому найбільше пропусків. Якщо пропущені значення ще залишаться, видаліть рядки з пропусками

In [29]:
column_index = df.isnull().sum().idxmax()
df = df.drop(columns=[column_index])
df.info()
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     891 non-null    int64
 1   sex        891 non-null    object
 2   sibsp      891 non-null    int64
 3   parch      891 non-null    int64
 4   fare       891 non-null    float64
 5   embarked   889 non-null    object
 6   relatives  891 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 55.7+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     889 non-null    int64
 1   sex        889 non-null    object
 2   sibsp      889 non-null    int64
 3   parch      889 non-null    int64
 4   fare       889 non-null    float64
 5   embarked   889 non-null    object
 6   relatives  889 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 55.6+ KB